@import './variables/colors.scss';

.form-container {
    margin: auto;
    padding: 10px;
    width: 500px;
    border-radius: 1%;
    background-color: $light-background;
}
.form-title {
    text-align: center;
    color: $dark-font;
}
.form-error {
    text-align: center;
    color: $error-font;
}