@import 'reset.css';

body {
    font-family: "Segoe UI Light";
    font-size: 16px;
    background-color: teal;
    color: white;
}
.wrapper {
    margin: auto;
    padding-top: 20px;
    width: 70%;

    @media screen and (max-width: 1350px) {
        width: 100%; 
        padding: 20px;
    }
}
.main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.invalid {
    border: red;
}
.hidden {
    display: none;
}