:local(.container) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}
:local(.title) {
    text-transform: uppercase;
    font-size: 5em;
    font-weight: 100;
    @media screen and (max-width: 980px) {
        font-size: 4em;
    }
    @media screen and (max-width: 1200px) {
         
    }
}
