$main-font: white;
$second-font: mediumvioletred;
$dark-font: black;
$secondary-font: gray;
$error-font: red;

$background: teal;
$details-background: #005656;
$light-background: white;

$light-divider: lightgrey;