:local(.container) {
    margin: auto;
    padding: 10px;
    width: 500px;
    border-radius: 1%;
    background-color: white;
}
:local(.title) {
    text-align: center;
    color: black;
}
:local(.hidden) {
    display: none;
}