:local(.card){
    margin: 5px;
    width: 150px;
    height: 380px;
    background-color: aliceblue;
    border-radius: 2%;
}
:local(.image) {
    position: relative;
    width: 100%;
    height: 60%;
    border-radius: 2%;
}
:local(.title) {
    color: black;
}
:local(.content) {
    height: 100px;
    padding: 5px;
}
:local(.author) {
   color: gray;
}
:local(.extra) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    border-top: 1px solid lightgrey;
}
