@import '../../../../styles/variables/colors.scss';

:local(.comment) {
    padding: 5px;
    background-color: $light-background;
}
:local(.header) {
    display: flex;
}
:local(.user) {
    font-size: 1.2em;
    color: $second-font;
}