@import '../../../../styles/variables/colors';

:local(.comment) {
    position: relative;
    width: 100%;
    padding: 5px;
    margin: 5px;
    border-radius: 5%;
    background-color: $light-background;
}
:local(.user) {
    font-size: 1.2em;
    color: $second-font;
}