@import '../../variables/colors';

:local(.container) {
    margin: auto;
    padding: 10px;
    width: 500px;
    border-radius: 1%;
    background-color: $light-background;
}
:local(.title) {
    text-align: center;
    color: $dark-font;
}